 *{
    margin: 0;
    padding: 0;
 }
 ul{
    background-color: black;
    width: 190px;
    list-style-type: none;
    text-align: left;
    height: 100%;
    position: fixed;
    overflow: auto;
    padding: 5px;
    

}
li a{
    color: white;
    text-decoration: none;
    display: block;
    font-weight: 600;
    align-items: center;
    border-left: 5px solid greenyellow;
    border-radius: 5px;
    font-size: 20px;
    
}
a{
    margin-top: 50px;
    align-items: center;
    padding: 10px;
   
}
li a:hover{
    background-color: rgba(172, 255, 47, 0.767);
    color: black;
    
}
.active{
    /* background-color: greenyellow; */
    color: black;
}
.aside-section{
    margin-left: 200px;
    padding: 8px;
    text-align: justify;

}
img{
    height: 90px;
    width: 90px;
    border-radius: 100%;
    padding: 15px;
    align-items: center;
}