/* *{
    background-image: url(back.png);
    background-repeat: no-repeat;
    background-size: cover;
    
} */
*{
    margin: 0;
    padding: 0;
}
ul{
    background-color: rgba(255, 47, 241, 0.4);
    width: 100%;
    height: 80px;
    position: sticky;
    
}
li{
    display: inline-block;
    padding: 10px;
    float: left;
    padding: 25px;
    display: block;
  
    


}
a{
     text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color:blue;
    border-left: 4px solid white;
   

}
a:hover{
    background-color: white;
    border-radius: 6px;
    
}
/* img{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: 2px solid white;
    float: right;
    
} */
.para{
    padding: 10px;
    text-align: justify;
    background-color: rgba(255, 47, 241, 0.205);


}
