.class1{
    height: 200px;
    width: 100px;
    background-color: crimson;
    position: relative;
    z-index: 1;
    left: 40px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid black;
    opacity: 0.5;

}
.class2{
    height: 100px;
    width: 180px;
    background-color: crimson;
    position: absolute;
    z-index: 2;
    top: 55px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid black;
    opacity: 0.5;


}